@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    
  } */
  .header {
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000; 
    will-change: transform;
     transform: translateZ(0); 
    transition: transform 0.3s ease;
    /* contain: size layout style; */
    /* padding: 0 20px; */
  }
  .text-dec{
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;
  
  }
  .footer{
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
    /* position: fixed; */
    /* position: sticky; */
    /* top: 800px; */
    /* display: block; */
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
   
  }

.on-hover:hover{
  color: #E85B12;
  transition: all 4ms;
  cursor: pointer;
}
.item-menu{
  /* position:auto !important; */
}

.modalDiv{ 
   height: 100vh;
  /* position: absolute; */
     left: 0;
    right: 0;
    bottom: 0;
    top: 0; 
     /* background-color: rgba(189,189,189,0.8);  */
}

 .container{
  /* height: 100vh;
  width: 100vw; */
  position: absolute;
    /* margin-right: 0; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* top: 0; */
  background-color: rgba(189,189,189,0.8);
  /* background-color: white; */
  
}  


  /* @layer utilities {
    ::-webkit-scrollbar {
      width: 0px;
      height: 10px;
    }
  
    -webkit-scrollbar-track {
      border-radius: 100vh;
      background: #ff0000;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #9b0c0c;
      border-radius: 100vh;
      border: 3px solid #d5ed00;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #ff00c8;
    }
  } */
   

  /* Style the scrollbar track */



 ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ededed;
  }
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #000000; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

/* Style the scrollbar track when hovering over it */
::-webkit-scrollbar:hover {
  background: #d8be11; /* Color of the track on hover */
}

/* Style the scrollbar thumb when hovering over it */
::-webkit-scrollbar-thumb:hover {
  background: #a08311; /* Color of the thumb on hover */
}
